<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
  
      <div class="container">
        <div class="text">ADD INTERVIEW EXPERIENCE</div>
        <form id="demo2" action="/adde" method="POST" enctype="multipart/form-data">
  
          <div class="data">
            <label for="name">Name</label>
            <input type="text" name="name" required>
          </div>
          
          <div class="data">
            <label for="branch">Branch</label>
            <input type="text" name="branch" required>
          </div>

          <div class="data">
            <label for="year">Year</label>
            <input type="text" name="year" required>
          </div>

          <div class="data">
            <label for="question">Company : </label>
            <option>  </option>
            <select name="company" id="myList">
                <% rest2.forEach((company) => { %>
                    <option>  <%= company.name %> </option> 
                <% }) %>           
            </select>
          </div>
          
          <!-- This is the HTML template for the “upload page”. 
          Notice that the src parameter for the <img> is not a typical URL.
          This format enables displaying the image stored in binary format in the Mongo database,
          and we convert it to base64 so that the browser can render it. -->
          <div class="data">
            <label value = "upload">Upload your Profile Photo</label>
            <input type="file" for="image" name="uploaded_image" required />
          </div>

          <div class="data">
            <label for="link">Experience</label>
            <!-- <input type="text" name="experience" required> -->
            <textarea rows = "9" cols = "50" name = "experience" required>
           </textarea>
          </div>
  
          
          <button>SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
  
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script> 
