<div id="myModal2" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
            <form id="demo3">
                <label for="experience">Name</label>
                <input type="text" name="name2" required/>
                
                <label for="company">Company</label>
            
                <select name="company" id="myList2" required>  
                    <option>  </option>
                 
                    <% rest2.forEach((company) => { %>
                        <option>  <%= company.name %> </option> 
                    <% }) %>

                </select>  
            
            
                <label for="link">Experience</label> 
                <input type="text" name="experience" required/>
                
                <button>SUBMIT</button>
            </form>
    </div>
  
</div>
  
<script>
    // Get the modal
    var modal2 = document.getElementById("myModal2");
    
    // Get the button that opens the modal
    var btn2 = document.getElementById("myBtn2");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[1];
    
    // When the user clicks the button, open the modal 
    btn2.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>           
            
      

<script>
    const form3 = document.getElementById("demo3");
    form3.addEventListener('submit', async (e)=>{
        e.preventDefault();
        
        //get the values
        const name = form3.name.value;
        const company = form3.company.value;
        const experience = form3.experience.value;

        try{
            const res = await fetch('/adde',{
                method: 'POST',
                body:JSON.stringify({name,company,experience}),
                headers:{'Content-Type':'application/json'}
            });
            location.assign('/');
            
        }catch(err){
            console.log(err);
        }
    });
</script>
