<%- include('partials/header'); -%>

<form>
    <h2>Add Question</h2>

    <label for="question">Question Name</label>
    <input type="text" name="name" required/>
    
    <label for="topic">Topic</label>

    <select name="topic" id="myList" required>  
        <option>  </option>
        <% b.forEach((topic) => { %>
                <option>  <%= topic.name %> </option>  
        <% }) %>  

    </select>  


    <label for="link">Link</label> 
    <input type="text" name="link" required/>
    
    <button>SUBMIT</button>
</form>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e)=>{
        e.preventDefault();
        
        //get the values
        const name = form.name.value;
        const topic = form.topic.value;
        const link = form.link.value;

        try{
            const res = await fetch('/addq',{
                method: 'POST',
                body:JSON.stringify({name,topic,link}),
                headers:{'Content-Type':'application/json'}
            });
            location.assign('/');
            
        }catch(err){
            console.log(err);
        }
    });
</script>


<%- include('partials/footer'); -%>